.card {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
}
.front img{
  width: 150px;
  height: 150px;
}
.back img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: cover;
}
.front {
  background-color: #ddd;
}

.back {
  transform: rotateY(180deg);
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
